<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
    <link rel="stylesheet" href="../static/style_home.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div id="nav-bar">
        <input id="nav-toggle" type="checkbox" />
        <div id="nav-header"><a id="nav-title">Student</a>
            <label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
            <hr />
        </div>
        <div id="nav-content">
            <div class="nav-button"><i class="fas fa-images"></i><span>Расписание</span></div>
            <div class="nav-button"><i class="fas fa-thumbtack"></i><span>Личные файлы</span></div>
            <hr />
            <div class="nav-button"><i class="fas fa-chart-line"></i><span>Оценки</span></div>
            <div class="nav-button"><i class="fas fa-fire"></i><span>Задания</span></div>
            <div class="nav-button"><i class="fas fa-magic"></i><span>Личные данные</span></div>
        </div>
        <input id="nav-footer-toggle" type="checkbox" />
        <div id="nav-footer">
            <div id="nav-footer-heading">
                <div id="nav-footer-avatar"><img src="https://gravatar.com/avatar/4474ca42d303761c2901fa819c4f2547" />
                </div>
                <div id="nav-footer-titlebox"><a id="nav-footer-title" href="https://codepen.io/uahnbu/pens/public"
                        target="_blank">{{user.nickname}}</a><span id="nav-footer-subtitle">{{user.policy}}</span></div>
                <label for="nav-footer-toggle"><i class="fas fa-caret-up"></i></label>
            </div>
            <div id="nav-footer-content">
                <Lorem><a href="login" >logout</a></Lorem>
            </div>
        </div>
    </div>
    <!-- partial -->

</body>

</html>