<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/pico.violet.min.css" />
    <title>Login</title>
</head>

<body style="text-align: center;" class="grid">
    <div></div>
    <article>
        <form method="POST">
            <h2>Login</h2>
            <label for="username">Email:</label>
            <input type="email" id="email" name="email" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Login</button>
            {% if error %}
            <p>{{ error }}</p>
            {% endif %}
        </form>
    </article>
    <div></div>
</body>

</html>