<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
  <title></title>
</head>

<body>
  <main class="container">
    <article>
      <div style="justify-content: center; ">
        <div>
          <img src="https://gravatar.com/avatar/4474ca42d303761c2901fa819c4f2547" alt="Minimal landscape" />
          <h3>Здравствуйте {{user}}</h3>
        </div>
      </div>
      <div style="text-align: center; column-gap: 20px">
        <button>
          <a style="text-decoration: none;color: inherit;" href="{{ url_for('schedule', group=group)}}">Расписание</a>
        </button>
        <button>
          {% if transcript == 'None' %}
          <a style="text-decoration: none;color: inherit;"
            href="{{ url_for('evaluations_input', username=user)}}">Оценки</a>
          {% else %}
          <a style="text-decoration: none;color: inherit;" href="{{ url_for('transcript')}}">Оценки</a>
          {% endif %}
        </button>
        <button>Личные данные</button>
        <button>Задания</button>
        <button>Выйти</button>
      </div>
    </article>
  </main>
</body>

</html>